@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  /* Offset for fixed header */
}

body {
  background-color: #020617;
  /* Slate 950 */
  color: #f8fafc;
  /* Slate 50 */
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar for aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  /* Slate 800 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
  /* Slate 700 */
}
